<%= content_for(:navbar_class, "navbar-home") %>
<div class="container">
  <div class="row">
    <div class="banner">
      <div class="banner-content text-center">
        <h1>YNWA: You will never walk alone!</h1>
        <p>YNWA permet aux entraîneurs et éducateurs de s'organiser, s'entraider et blablabla</p>
        <%= link_to "Droit au but !", new_user_session_path, class: "btn btn-lg btn-primary"  %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="card"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="card"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="card"></div>
    </div>
  </div>
</div>
